<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="plans" href="/tabs/plans">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Plans</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logs" href="/tabs/logs">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Logs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
